*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 62px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    background-image: url(logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1px solid white;
    border-radius: 3px;
}
/* address box styling */
.nav-address{
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first{
    color: #CCCCCC;
    font-size: 0.8rem;
    margin-left: 40px;
}
.second{
    color: #FFFFFF;
    font-size: 1rem;
    /* margin-left: 3px; */
}
.add-icon{
    display: flex;
    align-items: center;
    /* margin-left: 1rem; */
}
/* search styling */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #CCCCCC;
    height: 40px;
    width: 60%;
    border-radius: 5px;
}
.search-items{
    background-color: #f3f3f3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    width: 40px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}
/* login styling */
.login{
    height: 50px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF; 
}
.signin{
    font-size: 12px;
}
.account{
    font-size: 14px;
    font-weight: 700;
}
/* return orders style */
.return-orders{
    height: 50px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.return{
    color: #FFFFFF;
    font-size: 12px;
}
.order{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    margin-left: 15px;
}
/* cart style */
.nav-cart{
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
}
/* panel styling */
.panel{
    height: 39px;
    width: 1196;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    background-color: #232f3e;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    padding: 0px 0px 0px 11px;
}
.panel-options a{
    text-decoration: none;
    color: #FFFFFF;
    display: inline;
    margin-left: 15px;
}
.panel-options{
    width: 95%;
    font-size: 0.85rem;
}

/* Hero Section styling */
.hero-section{
    background-image: url(img/home\ 1.jpg);
    height: 300px;
    background-size: cover;
    /* width: 1528px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-massage{
    height: 40px;
    width: 95%;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #f5f6f6;
    color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.hero-massage a{
    font-size: 14px;
    color: #2162A1;
    text-decoration: none;
}

/* Shopping cards section styling */
.box{
    height: 385px;
    width: 23%;
    /* border: 2px solid black ; */
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;
}
.shopingcards-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(239, 252, 91);
}
.box-img{
    height: 303px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    font-size: 13px;
    color: #2162A1;
}
.box-content h2{
    font-size: 21px;
}

/* footer styling */
footer{
    margin-top: 50px;
}
.footer-panel1{
    font-size: 13px;
    background-color: #37475A;
    /* padding-bottom: 15px; */
    padding-top: 15px;
    /* margin: 0px 0px 40px; */
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-panel1 a{
    color: #FFFFFF;
    text-decoration: none;
}
.footer-panel2{
    background-color: #232f3e;
    color: white;
    height: 400px   ;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}
ul p{
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
}
ul a{
    display: block;
    text-decoration: none;
    color: #dddddd;
    font-size: 14px;
    margin-top: 10px;
}
/* panel3 style */
.footer-panel3{
    background-color: #232f3e;
    height: 70px;
    border-top: 0.1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    background-image: url(logo.png);
    background-size: cover;
    height: 50px;
    width: 150px;
}
.footer-panel4{
    background-color: #131A22;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.foot-pages{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.foot-pages a{
    margin-left: 20px;
    font-size: 12px;
    text-decoration: none;
    color: #DDDDDD;
}
.copyright{
    padding-top: 10px;
    color: #DDDDDD;
    font-size: 12px;
}